@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Noto Sans KR', sans-serif;
}

.back {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #222;
    font-size: 8em;
    font-weight: 800;
    .box {
        position: relative;
        width: 800px;
    }
    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;
        width: 100%;
        color: #fff;
        text-align: center;
        text-shadow: 0 5px 15px rgba(#000, 0.5);
        &:nth-child(2) {
            background: #222;
            z-index: 2;
            overflow: hidden;
            color: #ffd717;
            transition: 0.5s;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
            &:hover {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            }
        }
        &:nth-child(1):hover ~ h2 {
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        }
    }
}

.sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    li {
        padding: 8px 8px 8px 32px;
    }
    a {
        position: relative;
        text-decoration: none;
        font-size: 16px;
        color: #818181;
        display: inline-block;
        transition: 0.3s;
        font-weight: 500;
        transform-origin: left;
        white-space: nowrap;
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 3px;
            background: #ffd717;
            transition: 0.5s;
            z-index: -1;
            border-radius: 20px;
        }

        &:hover,
        &.active {
            transform: scale(1.1);

            color: #f1f1f1;
            &::before {
                width: 100%;
            }
        }
    }
}
.sideOpen,
.sideClose {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
}
.sideOpen {
    position: fixed;
    left: 25px;
    font-size: 30px;
    top: 20px;
    color: #222;
    background: #fff;
    z-index: 99998;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
}
.sideClose {
    position: absolute;
    top: 15px;
    font-size: 36px;
    right: 30px;
    margin-left: 50px;
    color: #fff;
    &:hover {
        color: #ffd717;
    }
}
#main {
    transition: margin-left 0.5s;
}
