@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Noto Sans KR', sans-serif;
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}
.testimonials {
    position: relative;
    max-width: 100%;
    -webkit-box-reflect: below 1px linear-gradient(transparent 70%, #0009);
    .card {
        position: relative;
        width: 100%;
        margin: 0 auto;
        background: #333;
        padding: 67px 40px;
        text-align: center;
        overflow: hidden;
        &:hover .layer {
            top: 0;
        }
        &:hover .content h2 span {
            color: #fff;
        }
        .layer {
            position: absolute;
            top: calc(100% - 2px);
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(#03a9f4, #e91ee3);
            z-index: 1;
            transition: 0.5s;
        }
        .content {
            position: relative;
            z-index: 2;
            p {
                font-size: 18px;
                line-height: 24px;
                margin-bottom: 20px;
                color: #fff;
            }
            .imgBx {
                width: 100px;
                height: 100px;
                margin: 0 auto 10px;
                border-radius: 50%;
                overflow: hidden;
                border: 4px solid #fff;
                box-shadow: 0 10px 20px rgba(#000, 0.2);
            }
            h2 {
                font-size: 18px;
                color: #fff;
                span {
                    color: #03a9f4;
                    font-size: 14px;
                    transition: 0.5s;
                }
            }
        }
    }
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 375px;
    margin: 0 20px;
    background: #fff;
}
.swiper-container-3d {
    .swiper-slide-shadow-left,
    .swiper-slide-shadow-right {
        background-image: none;
    }
}
