@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Noto Sans KR', sans-serif;
}
.wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2ec194;
    z-index: -1;
    min-height: 100vh;
}
.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
}
.box {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 40px;
    background: #fff;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(#000, 0.1);
    &.shadow1 {
        box-shadow: -30px 30px 20px rgba(#000, 0.3);
    }
    &.shadow2::before {
        content: '';
        position: absolute;
        bottom: 10px;
        left: 10%;
        width: 90%;
        height: 50px;
        background: rgba(#000, 0.3);
        transform-origin: left;
        transform: skewY(5deg);
        z-index: -1;
        filter: blur(5px);
    }
    &.shadow3::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        height: 30px;
        background: rgba(#000, 0.3);
        transform-origin: right;
        transform: skewY(-8deg);
        z-index: -1;
        filter: blur(10px);
    }
    &.shadow3::after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        height: 30px;
        background: rgba(#000, 0.3);
        transform-origin: left;
        transform: skewY(8deg);
        z-index: -1;
        filter: blur(10px);
    }
    &.shadow4::before {
        content: '';
        position: absolute;
        bottom: -50px;
        left: 5%;
        width: 90%;
        height: 20px;
        background: rgba(#000, 0.3);
        border-radius: 50%;
        z-index: -1;
        filter: blur(10px);
    }
    &.shadow5::before {
        content: '';
        position: absolute;
        bottom: -15%;
        left: 5%;
        width: 90%;
        height: 90%;
        background: rgba(#000, 0.3);
        z-index: -1;
        filter: blur(10px);
    }
    &.shadow6 {
        background: #2ec194;
        border-radius: 15px;
        box-shadow: -15px -15px 15px rgba(#fff, 0.2), 15px 15px 15px rgba(#000, 0.1);
    }
    &.shadow7 {
        background: #2ec194;
        border-radius: 15px;
        box-shadow: -15px -15px 15px rgba(#fff, 0.2), 15px 15px 15px rgba(#000, 0.1), inset -5px -5px 5px rgba(#fff, 0.2), inset 5px 5px 5px rgba(#000, 0.1);
    }
}
