body {
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    width: 100%;
    font-family: sans-serif;
}
.box-area {
    position: absolute;
    left: 30%;
    top: 30%;
    transform: translate(-50%, -50%);
    .box {
        position: relative;
        width: 400px;
        height: 200px;
        transform: perspective(500px) rotate(-40deg) skew(25deg);
        box-shadow: -90px 75px 20px rgba(0, 0, 0, 0.3);
        background: #fff url(logo_b.svg) no-repeat 50% 50%;
        background-size: 300px;
        transition: 0.5s;
        &:hover {
            transform: perspective(500px) rotate(-40deg) skew(25deg) translate(50px, -50px);
            box-shadow: -150px 115px 100px rgba(0, 0, 0, 0.3);
        }
        &:before {
            content: '';
            width: 200px;
            height: 90px;
            position: absolute;
            left: 0;
            top: 0;
            transform: skewY(-40deg) translate(-144px, -29px) rotate(90deg);
            background: #e8e7ec url(logo_b.svg) no-repeat 50% 50%;
            background-size: 90px;
        }
        &:after {
            content: '';
            width: 100%;
            height: 77px;
            position: absolute;
            left: 0;
            bottom: 0;
            transform: skewX(-50deg) translate(45px, 76px);
            background: #ededf1 url(logo_b.svg) no-repeat 50% 50%;
            background-size: 90px;
        }
    }
    &.box-02 {
        left: 70%;
        .box {
            background: #3c3c3c url(logo_w.svg) no-repeat 50% 50%;
            background-size: 300px;
            &:before {
                background: #2b2b2b url(logo_w.svg) no-repeat 50% 50%;
                background-size: 90px;
            }
            &:after {
                background: #333333 url(logo_w.svg) no-repeat 50% 50%;
                background-size: 90px;
            }
        }
    }
}

.namecard {
    position: relative;
    width: 360px;
    height: 200px;
    background: rgba(0, 0, 0, 0.05);
    transform: rotate(-40deg) skew(25deg) scale(0.8) translateX(-50%);
    transition: 0.5s;
    left: 50%;
    margin-top: 600px;

    img {
        position: absolute;
        width: 100%;
        transition: 0.5s;
    }
    &:hover img:nth-child(4) {
        transform: translate(160px, -160px);
        opacity: 1;
    }
    &:hover img:nth-child(3) {
        transform: translate(120px, -120px);
        opacity: 0.8;
    }
    &:hover img:nth-child(2) {
        transform: translate(80px, -80px);
        opacity: 0.6;
    }
    &:hover img:nth-child(1) {
        transform: translate(40px, -40px);
        opacity: 0.4;
    }
}

/* svg {
    margin-left: 100px;
    circle {
        width: 100%;
        height: 100%;
        stroke-width: 10;
        stroke-linecap: round;
        transform: translate(5px, 5px);
        stroke-dasharray: 220;
        stroke-dashoffset: 220;
        stroke: #d55e4a;
        fill: none;
    }
}
 */
