@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #222;
}

.container {
  position: relative;
  width: 500px;
}

.container:hover .skills {
  opacity: 0.05;
}

.container .skills {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  padding: 24px 10px 18px;
  background: -webkit-gradient(linear, left top, left bottom, from(#4b4b4b), color-stop(5%, #333), to(#222));
  background: linear-gradient(#4b4b4b 0%, #333 5%, #222);
  border-radius: 30px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
}

.container .skills:hover {
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container .skills:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.1);
  z-index: 10;
}

.container .skills .name {
  position: relative;
  width: 110px;
  text-align: right;
  color: #fff;
  margin-top: -2px;
  text-transform: uppercase;
}

.container .skills .value {
  position: relative;
  width: 40px;
  text-align: left;
  color: #fff;
  margin-top: -2px;
  text-transform: uppercase;
}

.container .skills .percent {
  position: relative;
  width: calc(100% - 150px);
  height: 20px;
  margin: 0 10px;
  border-radius: 10px;
  background: #151515;
  -webkit-box-shadow: inset 0 0 10px #000;
          box-shadow: inset 0 0 10px #000;
  overflow: hidden;
}

.container .skills .percent .progress {
  position: absolute;
  left: 0;
  top: 0;
  width: 70%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(45deg, #1fe6ff, #673ab7);
  -webkit-animation: animate 4s ease-in-out forwards;
          animation: animate 4s ease-in-out forwards;
}

@-webkit-keyframes animate {
  from {
    width: 0;
  }
}

@keyframes animate {
  from {
    width: 0;
  }
}

.container .skills:nth-child(2) .progress {
  background: linear-gradient(45deg, #3bc0ff, #33ff00);
}

.container .skills:nth-child(3) .progress {
  background: linear-gradient(45deg, #ffee54, #ff00ca);
}

.circle {
  position: relative;
  width: 300px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #333;
  border-radius: 30px;
  -webkit-box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
          box-shadow: 0 30px 60px rgba(0, 0, 0, 0.2);
}

.circle .percent {
  position: relative;
  width: 150px;
  height: 150px;
}

.circle .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.circle .percent svg circle {
  width: 150px;
  height: 150px;
  fill: none;
  stroke-width: 8;
  stroke: #000;
  -webkit-transform: translate(5px, 5px);
          transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
}

.circle .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #2c2c2c;
}

.circle .percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
  stroke: #03a9f4;
}

.circle .percent .number {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #111;
}

.circle .percent .number h2 {
  font-size: 48px;
  color: #fff;
  font-weight: normal;
}

.circle .percent .number h2 span {
  font-size: 20px;
}

.circle .text {
  padding: 50px 0 0;
  font-weight: 600;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
