@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Noto Sans KR', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    width: 100%;
    .loader {
        position: relative;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        overflow: hidden;
        transform: rotate(175deg);
        span {
            position: absolute;
            top: calc(12px * var(--i));
            left: calc(12px * var(--i));
            right: calc(12px * var(--i));
            bottom: calc(12px * var(--i));
            border: 10px solid #0b0b0b;
            border-top: 10px solid #0f0;
            border-left: 10px solid #0f0;
            border-radius: 50%;
            animation: animate 1s alternate ease-in-out infinite;
            filter: hue-rotate(calc(60deg * var(--i)));
            animation-delay: calc(-0.1s * var(--i));
            @keyframes animate {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(90deg);
                }
            }
        }
    }
}
