@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
    box-sizing: border-box;
}
section {
    position: absolute;
    width: calc(100% - 4em);
    height: 100vh;
    overflow: hidden;
    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    h2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-transform: uppercase;
        font-size: 25vw;
        text-align: center;
        font-weight: 800;
        line-height: 0.85em;
        color: #fff;
        background: rgba(#000, 0.95);
        mix-blend-mode: multiply;
        span {
            font-size: 0.4em;
            line-height: 0.85em;
        }
    }
}
